@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;500;700&display=swap");

html {
  font-size: 14px;
}

body {
  font-family: "Red Hat Text", sans-serif;
  color: $white;
}

h1 {
  font-size: 1.5rem;
}
