// Primary
$grayish-blue: hsl(237, 18%, 59%);
$soft-red: hsl(345, 95%, 68%);

// Neutral
$white: hsl(0, 0%, 100%);
$dark-saturated-blue: hsl(236, 21%, 26%);
$dark-blue: hsl(235, 16%, 14%);
$very-dark-blue: hsl(234, 17%, 12%); // mostly black
