.home {
  @include flex($flow: column, $justify: center);
  height: 100vh;
  background: url(/src/assets/images/pattern-hills.svg) repeat-x bottom right;

  h1 {
    align-self: center;
    margin-top: auto;
    text-transform: uppercase;
    letter-spacing: 0.4rem;
    text-align: center;
    text-indent: 0.4rem;
    font-weight: 600;
  }

  .card-container {
    @include flex();
    margin: 3.5rem 0 auto 0;
  }

  .social-container {
    margin-top: auto;
  }

  .social-link {
    cursor: pointer;
    margin: 1.1rem;

    &:hover path {
      fill: $soft-red !important;
      transition: fill 300ms;
    }
  }
}
