.home {
  position: relative;
  height: 100vh;
  background: $dark-blue url(/src/assets/images/bg-stars.svg) no-repeat center;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: url(/src/assets/images/pattern-hills.svg) no-repeat bottom;
  }
}
