.card {
  @include flex();
  position: relative;
  height: 5.2em;
  width: 5.2em;
  margin: 0 0.3rem;
  background: $dark-saturated-blue;

  .flipping-half {
    display: block;
    position: absolute;
    top: 0;
    background: rgba($color: #000, $alpha: 0.2);
    width: 100%;
    height: 50%;
  }
}
