.card {
  @include flex();
  position: relative;
  font-size: 22px;
  @media screen and (min-width: 900px) {
    font-size: 26px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 32px;
  }
  height: 3.2em;
  width: 3.2em;
  margin: 0 0.3em;
  color: $soft-red;
  border-radius: 10px;
  background: $dark-saturated-blue;

  &__bg {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      width: 0.3em;
      height: 0.3em;
      border-radius: 100%;
      background: $very-dark-blue;
    }

    &::after {
      left: -0.15em;
    }

    &::before {
      right: -0.15em;
    }
  }

  .flipping-half {
    display: block;
    position: absolute;
    top: 0;
    background: rgba($color: #000, $alpha: 0.2);
    width: 100%;
    height: 50%;
    border-radius: 10px 10px 0 0;
  }

  h2 {
    font-size: 1.65em;
  }

  &__name {
    position: absolute;
    bottom: -38%;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.38em;
    font-weight: 700;
    color: $grayish-blue;
    letter-spacing: 0.3em;
    text-indent: 0.3em;
  }
}

@media screen and (min-width: 900px) {
  .card {
    margin: 0.5;
  }
}
