@import "./styles/variables";
@import "./styles/resets";
@import "./styles/mixins";
@import "./styles/typography";
@import "./styles/base";

// components
@import "./components/card";

// pages
@import "./pages/home";
